


body {
    background-color:rgb(137, 192, 116);
}
h1 {
    text-align: center;
    background-color:rgb(51, 60, 84);
    color: rgb(137, 192, 116); 
    font-weight: bold;
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255); 
}
nav {
    background-color:rgb(137, 192, 116);
    padding: 20px 30px;
    text-align: center;
    color: rgb(0, 68, 255);
    font-family:'Times New Roman', Times, serif;
}
nav a {
    color: rgb(51, 60, 84);
    padding: 30px ;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
a {
    color: rgb(137, 192, 116);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
p {
    text-align: center;
}
div {
    text-align: center;
}
form {
    text-align: center;
}
span{
    text-align: center;
}