

nav {
    background-color:#333c54;
    padding: 10px 15px;
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
}
nav a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
a {
    color: steelblue;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
body {
    background-color:gray;
}
h1 {
    text-align: center;
    background-color:#333c54;
    color: white; 
    font-weight: bold;
}

h2 {
    text-align: center;
    color: black; 
}

p {
    text-align: center;
}
div {
    text-align: center;
}
form {
    text-align: center;
}
span{
    text-align: center;
}