<!doctype html>
<html>
    <style>

    </style>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>calculator</title>
        <h1>calculator test 1 
            </h1>
    </head>
    <body>
        <h2 style="color:rgb(0, 0, 0);">
            
        </h2>
            <!-- The action code is to trigger the code in the app.py file so the user can actually affect the code and files. -->
            <form method = "post" action = "{{ url_for('Booking') }}">
                <p style="color:rgb(0, 0, 0);">
                Users Name</p>
                    <input type = "text" name = "name" placeholder = "Enter name. " required>
                <p style="color:rgb(0, 0, 0);">
                monthly electric bill | monthly fuel bill</p>
                    <input type = "number" name = "electric bill number" placeholder = "enter your most recent electric bill " required>
                    <input type = "number" name = "fuel bill number" placeholder = "enter your most recent fuel bill " required>
                <p style="color:rgb(0, 0, 0);">
                natural gas or heating bill | total yearly car millage </p>                    
                <input type = "number" name = "natural gas or heating bill" placeholder = "enter your most recent natural gas or heating bill " required>
                <input type = "number" name = "car millage" placeholder = "enter your total car millage of the year " required>
                <p style="color:rgb(0, 0, 0);">
                short plane ride | long plane ride</p>                    
                    <input type = "number" name = "short plane" placeholder = "flights shorter than 4 hours" required>
                    <input type = "number" name = "long plane" placeholder = "flights longer than 4 hours" required>
                <p style="color:rgb(0, 0, 0);">
                do you recycle newspaper</p>
                <select name = "equipment" placeholder = "Enter name of equipment. " required>
                    <option value="Reflector Kits">Reflector Kits</option>
                </select>
                <button type = "submit">Submit</button>
        </form>
    </body>
</html>