<!doctype html>
<html>
    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>homepage</title>
        
    </head>
    <body>
        <div>
            <h1 >
                Rolsa Technologies</h1>
        </div>
        
        <nav>
            <a href="/index" class = "button button1" >homepage</a>

            <a href="/store" class = "button button2">    Store   </a>  
            <a href="/calculator" class = "button button2">calculator   </a>
            <a href="/news" class = "button button2" >News and Updates   </a>
        </nav>

        <body>

             
            
            <h2> homepage information
                
            </h2>

            <form 
                image="homepage_header_image.jpg">
            </form>

            <a href="/login" class = "button button2">login</a>
            <a href="/register" class = "button button2 ">register</a>

        </body>
    </body>
</html>
