<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>homepage</title>
        
    </head>
    <body>
        <div>
            <h1 image="homepage_header_image.jpg">
                rolsa</h1>
        </div>
        <nav>
            <a href="/calculator">test</a>
        </nav>

        <body>

            <h2>Enter your account name and password to login.</h2>

            <form method = "post" action = "{{ url_for('sign_in') }}">
                <input type = "number" name = "student_number" placeholder = "Student number:" minlength="8" maxlength="8" required>
                <input type = "password" name = "password" placeholder = "Password:" required>
                <button type = "submit">Submit</button>
            </form>

        </body>
    </body>
</html>
