<!doctype html>
<html>
    <head>
        <style>
                  
          .button2 {padding: 15px 32px;margin-top: -10px;} 
          .button3 {margin-left: 1170px}    
     
        </style>
        <!-- the style sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>news</title>
        
    </head>
    <body>
        <div>
            <h1 >
                Rolsa Technologies</h1>
        </div>
        
        <nav>
            <!-- so it can link easily to other pages -->
            <a href="/index" class = "button button2" >homepage</a>
            <a href="/store" class = "button button2">    Store   </a>  
            <a href="/calculator" class = "button button2">calculator   </a>
            <a href="/news" class = "button button1" >News and Updates   </a>
        </nav>


        <body>

             
            <!-- for the news page to work and output the txt properly -->
            <h2> News page information <br>
                {{article}}
                
            </h2>
            
            <!-- for the link to the login and regester pages --> 
            <a href="/login" class = "button button2 ">login</a>
            <a href="/register" class = "button button2 ">register</a>
        </body>
    </body>
</html>