<!doctype html>
<html>
    <head>
        <style>
                  
          .button2 {padding: 15px 32px;margin-top: -10px;} 
          .button3 {margin-left: 1170px}    
     
        </style>
        <!-- the style sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Rolsa Technologies: store</title>
        
    </head>
    <body>
        <div>
            <h1 >
                Rolsa Technologies: store </h1>
        </div>
        
        <nav>
            <!-- so it can link easily to other pages -->
            <a href="/index" class = "button button2" >homepage</a>
            <a href="/store" class = "button button1">    Store   </a>  
            <a href="/calculator" class = "button button2">calculator   </a>
            <a href="/news" class = "button button2" >News and Updates   </a>
        </nav>

        <body>

             
            <!-- the store software to show the text in white, they image and the button to add to the cart -->
            <h2> example of how the store could look with easy to change code for the company to alter as they wish
                <br>
                <br>
                <img src="static/panelinstallation.jpg" alt="person installing a solar panel on a roof" width = "200px" height = "200px">
                <br>
                our solar panels are quick to install providing clean energy to your house at peak hours and reducing the costs and environmental impact in off times
                <button name = "panel_cart" value ="True" type = submit>click to add to cart</button>
                <br>
                <img src="static/meterbeinginstalled.jpg" alt="person installing a solar panel on a roof" width = "200px" height = "200px">
                <br>
                easy to install smart meters to be done by out expert maintenance partners at (Rolsa's installation company)
                we even provide help on hoe to use our meter to our users with a less Technological mindset
                <br>
                <img src="static/meterisuse.jpg" alt="person showing someone how to use the meter" width = "200px" height = "200px">
                <br>
                <button name = "meter_cart" value ="True" type = submit>click to add to cart</button>
                <br>
                <img src="static/installedevchargerinuse.jpg" alt="working EV charger" width = "200px" height = "200px"> <br>
                fully working and usable EV chargers to instal in homes and businesses for users and even to be used commercially
                <input name = "panel_cart" value ="True" type = button>click to add to cart</input>
                <!-- the store currently is unavailable
                 i planned to have it add to the csv and then output it into the cart html but it currently does not work as it is not within my skill set -->
            </h2>

            <!-- for the link to the login register and cart pages -->
            <a href="/login" class = "button button2 ">login</a>
            <a href="/register" class = "button button2 ">register</a>
            <a href = "/cart" class="button button2 button3">cart</a>
        </body>
    </body>
</html>