<!doctype html>
<html>
    <style>

    </style>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HBC Media Equipment booking system: Bookings</title>
        <h1>
            HBC Media Equipment booking system: Bookings</h1>
    </head>
    <body>
        <h2 style="color:rgb(0, 0, 0);">
            Below are the relevant (and required) details we need before your requested equipment can be authorized for taking.
        </h2>
            <!-- The action code is to trigger the code in the app.py file so the user can actually affect the code and files. -->
            <form method = "post" action = "{{ url_for('Booking') }}">
                <p style="color:rgb(0, 0, 0);">
                Booker name | Booker email</p>
                    <input type = "text" name = "name" placeholder = "Enter name. " required>
                    <input type = "email" name = "email" placeholder = "Enter email. " required>
                <p style="color:rgb(0, 0, 0);">
                Date of equipment booking | Date of equipment return</p>
                    <input type = "date" name = "date of booking" placeholder = "Enter the date of booking. " required>
                    <input type = "date" name = "date of return" placeholder = "Enter the date of return. " required>
                <p style="color:rgb(0, 0, 0);">
                Needed equipment for booking</p>
                <select name = "equipment" placeholder = "Enter name of equipment. " required>
                    <option value="Reflector Kits">Reflector Kits</option>
                </select>
                <button type = "submit">Submit</button>
        </form>
    </body>
</html>